n8n/job_completed.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "job-completed",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-1616, 32],
      "id": "8c74702e-e049-4cae-8948-96824dc9e795",
      "name": "Webhook",
      "webhookId": "f605dd64-484e-4d7a-82a1-ff888bc61bd8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "127f1429-c251-4c01-810f-719f0c945d18",
              "name": "location id",
              "value": "6J2kq6uNCdVI2V1028Gn",
              "type": "string"
            },
            {
              "id": "1b021143-0fc5-4a4d-ba34-bb1d6ed0a981",
              "name": "calender id",
              "value": "FSvK9D0kcaZr8TIRXTkv",
              "type": "string"
            },
            {
              "id": "597f9058-fea7-45d5-82c7-91840001180f",
              "name": "phone",
              "value": "=+1{{ $json.body.job.customer.mobile_number }}",
              "type": "string"
            },
            {
              "id": "fe78f463-7b0e-4926-b5aa-34df8f33c7e4",
              "name": "TimeZone",
              "value": "America/New_York",
              "type": "string"
            },
            {
              "id": "c74146a9-10dd-402d-9629-6a5d446b33f1",
              "name": "Version",
              "value": "2021-07-28",
              "type": "string"
            },
            {
              "id": "9b98d6d2-592f-4734-b6c9-a580c8c4fbab",
              "name": "CleanPhone",
              "value": "=",
              "type": "string"
            },
            {
              "id": "4000c8c5-6e02-4151-8647-062c8d37ac0c",
              "name": "Start time",
              "value": "={{ $json.body.job.schedule.scheduled_start }}",
              "type": "string"
            },
            {
              "id": "a50f0b4b-b5dd-4bd8-862c-944ebcd1d7b9",
              "name": "first_name",
              "value": "={{ $json.body.job.customer.first_name }}",
              "type": "string"
            },
            {
              "id": "7ae596cb-68f6-4926-a549-ea530ed27d1b",
              "name": "last_name",
              "value": "={{ $json.body.job.customer.last_name }}",
              "type": "string"
            },
            {
              "id": "35d9ec14-f34f-4bbd-8839-7ea66153e379",
              "name": "company_name",
              "value": "={{ $json.body.job.customer.company_name }}",
              "type": "string"
            },
            {
              "id": "4f480fc3-f587-48d0-a5cc-3b729294fd9b",
              "name": "email",
              "value": "={{ $json.body.job.customer.email }}",
              "type": "string"
            },
            {
              "id": "ba2210d5-3d15-43b7-bbcd-6925990de499",
              "name": "kind",
              "value": "={{ $json.body.job.customer.kind }}",
              "type": "string"
            },
            {
              "id": "0a1294a6-6990-403a-bf44-c73693c508ed",
              "name": "startTime",
              "value": "={{ \n  (() => {   \n    const input = $json.body.job.schedule.scheduled_start;   \n    if (!input) return null;    \n    const date = new Date(input);    \n    const pad = (n) => String(n).padStart(2, \"0\");    \n    const yyyy = date.getUTCFullYear();   \n    const mm = pad(date.getUTCMonth() + 1);   \n    const dd = pad(date.getUTCDate());   \n    const hh = pad(date.getUTCHours());   \n    const min = pad(date.getUTCMinutes());   \n    const ss = pad(date.getUTCSeconds());    \n    return `${yyyy}-${mm}-${dd}T${hh}:${min}:${ss}-04:00`; \n  })() \n}}",
              "type": "string"
            },
            {
              "id": "ee5d8c2c-7a4c-4d6f-8205-4cd09226bdb1",
              "name": "work_status",
              "value": "={{ $json.body.job.work_status }}",
              "type": "string"
            },
            {
              "id": "af86e3b7-f1a2-432d-93b1-b5b41f8bc006",
              "name": "tags",
              "value": "={{ $json.body.job.customer.tags }}",
              "type": "array"
            },
            {
              "id": "0e678353-8619-47d5-9b5c-44eca6486dee",
              "name": "estimate_number",
              "value": "={{ $json.body.job.invoice_number }}",
              "type": "string"
            },
            {
              "id": "09844fbe-4153-43d7-bee8-afad9be4b31d",
              "name": "total_amount",
              "value": "={{ $json.body.job.total_amount }}",
              "type": "string"
            },
            {
              "id": "fff4125b-4e22-4680-a1ca-0d54a50a6e87",
              "name": "Pipeline_id",
              "value": "4QkPnglhkYSm893QnOJe",
              "type": "string"
            },
            {
              "id": "6e428925-430a-4b31-a7db-94cef5c2a5a4",
              "name": "stages_id",
              "value": "17b8bed0-42d6-43e8-a830-bc4b1384d993",
              "type": "string"
            },
            {
              "id": "hcp-job-id-002",
              "name": "hcp_job_id",
              "value": "={{ $json.body.job.id }}",
              "type": "string"
            },
            {
              "id": "subtotal-002",
              "name": "subtotal",
              "value": "={{ $json.body.job.subtotal }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-1392, 32],
      "id": "fff30076-e461-455e-b4b4-8b5de3d0be41",
      "name": "GHL Core Data",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "={{ $('GHL Core Data').first().json.Version }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"locationId\": \"{{ $('GHL Core Data').first().json['location id'] }}\",\n  \"page\": 1,\n  \"pageLimit\": 20,\n  \"filters\": [\n    {\n      \"field\": \"phone\",\n      \"operator\": \"eq\",\n      \"value\": \"{{ $('GHL Core Data').first().json.phone }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "name": "GHL - Search Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [-944, 32],
      "id": "14be2720-8192-4eda-80b8-2e75f43c4699",
      "retryOnFail": false,
      "maxTries": 2,
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "NbML98NVW1CNtcZQ",
          "name": "Multiple Headers Auth account GHL"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "435ba85f-edf2-42ed-a32d-147272da7232",
              "leftValue": "={{ $json.total }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-720, 32],
      "id": "7fd2787e-b007-444f-bf59-52ad54a09e68",
      "name": "If2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "={{ $('GHL Core Data').first().json.Version }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"name\": \"{{ $('GHL Core Data').first().json.first_name }} {{ $('GHL Core Data').first().json.last_name }}\",\n\"locationId\": \"{{ $('GHL Core Data').first().json['location id'] }}\",\n\"phone\": \"{{ $('GHL Core Data').first().json.phone }}\",\n\"email\": \"{{ $('GHL Core Data').first().json.email }}\",\n\"source\": \"housecallpro\",\n\"tags\":[\"hcp appointment\"]\n}",
        "options": {}
      },
      "name": "GHL - Create Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [-496, 128],
      "id": "89a24bb3-e2be-44aa-9bb9-11f87c99c946",
      "alwaysOutputData": false,
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "NbML98NVW1CNtcZQ",
          "name": "Multiple Headers Auth account GHL"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=https://services.leadconnectorhq.com/opportunities/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "location_id",
              "value": "={{ $('GHL Core Data').first().json['location id'] }}"
            },
            {
              "name": "contact_id",
              "value": "={{ $('If2').first().json.contacts[0].id ?? $('GHL - Create Contact').first().json.contact.id }}"
            },
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "limit",
              "value": "20"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "={{ $('GHL Core Data').first().json.Version }}"
            }
          ]
        },
        "options": {}
      },
      "name": "GHL - Search Opportunity1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [-496, -64],
      "id": "2a85dca3-a00e-4e65-bd63-9ad72a9752e9",
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "NbML98NVW1CNtcZQ",
          "name": "Multiple Headers Auth account GHL"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
              "leftValue": "={{ $json.meta.total }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-272, -64],
      "id": "a7904e43-842c-4287-b21b-3b3cc0fa73bb",
      "name": "Opportunity Exists?1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/opportunities/",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "={{ $('GHL Core Data').first().json.Version }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"pipelineId\": \"{{ $('GHL Core Data').first().json.Pipeline_id }}\",\n  \"locationId\": \"{{ $('GHL Core Data').first().json['location id'] }}\",\n  \"name\": \"Estimate #{{ $('GHL Core Data').first().json.estimate_number }} - {{ $('GHL Core Data').first().json.first_name }} {{ $('GHL Core Data').first().json.last_name }}\",\n  \"pipelineStageId\": \"{{ $('GHL Core Data').first().json.stages_id }}\",\n  \"status\": \"open\",\n  \"contactId\": \"{{ $('GHL - Search Contact').first().json.contacts[0].id ?? $('GHL - Create Contact').first().json.contact.id }}\",\n  \"monetaryValue\": {{ $('GHL Core Data').item.json.total_amount }},\n  \"source\": \"housecallpro\",\n  \"customFields\": [\n    {\n      \"key\": \"work_status\",\n      \"field_value\": \"{{ $('GHL Core Data').first().json.work_status }}\"\n    },\n    {\n      \"key\": \"estimate_number\",\n      \"field_value\": \"{{ $('GHL Core Data').item.json.estimate_number }}\"\n    },\n    {\n      \"key\": \"scheduled_start\",\n      \"field_value\": \"{{ $('GHL Core Data').first().json.startTime }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "name": "GHL - Create Opportunity2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [-48, 32],
      "id": "f13ab70d-9102-4c09-ba2c-3db4ff7b04f8",
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "NbML98NVW1CNtcZQ",
          "name": "Multiple Headers Auth account GHL"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/opportunities/",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "={{ $('GHL Core Data').first().json.Version }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"pipelineId\": \"{{ $('GHL Core Data').first().json.Pipeline_id }}\",\n  \"locationId\": \"{{ $('GHL Core Data').first().json['location id'] }}\",\n  \"name\": \"Estimate #{{ $('GHL Core Data').item.json.estimate_number }} - {{ $('GHL Core Data').first().json.first_name }} {{ $('GHL Core Data').first().json.last_name }}\",\n  \"pipelineStageId\": \"{{ $('GHL Core Data').first().json.stages_id }}\",\n  \"status\": \"open\",\n  \"contactId\": \"{{ $('GHL - Create Contact').first().json.contacts[0].id ?? $('GHL - Create Contact').first().json.contact.id }}\",\n  \"monetaryValue\": {{ $('GHL Core Data').item.json.total_amount }},\n  \"source\": \"housecallpro\",\n  \"customFields\": [\n    {\n      \"key\": \"work_status\",\n      \"field_value\": \"{{ $('GHL Core Data').first().json.work_status }}\"\n    },\n    {\n      \"key\": \"estimate_number\",\n      \"field_value\": \"{{ $('GHL Core Data').item.json.estimate_number }}\"\n    },\n    {\n      \"key\": \"scheduled_start\",\n      \"field_value\": \"{{ $('GHL Core Data').first().json.startTime }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "name": "GHL - Create Opportunity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [-272, 128],
      "id": "f1ecd0c1-19b3-4c8c-a750-f1c49e0955d4",
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "NbML98NVW1CNtcZQ",
          "name": "Multiple Headers Auth account GHL"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('GHL - Search Contact').first().json.contacts[0].id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "={{ $('GHL Core Data').first().json.Version }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tags\": [{{ $json.data }}]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [176, -160],
      "id": "74cb6b6b-6d46-41e9-8b10-9b5f88224f44",
      "name": "Add Tag to GHL \"2nd day call\"",
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "NbML98NVW1CNtcZQ",
          "name": "Multiple Headers Auth account GHL"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet data=[];\nfor (const item of  $('GHL - Search Contact').first().json.contacts[0].tags) {\n  data.push(`\"${item}\"`)\n}\ndata.push(`\"job completed\"`);\ndata = [...new Set(data)];\nreturn {data:data};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-48, -160],
      "id": "7a36dc8d-03f9-46b4-b7c1-5ba5faa65fd5",
      "name": "Code in JavaScript8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f33619b6-db0b-419b-8ce1-61c986f388c5",
              "leftValue": "={{ $json.tags }}",
              "rightValue": "test user",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-1168, 32],
      "id": "f1e9e93f-978b-4b64-a0b5-6972ce9a6ec7",
      "name": "If",
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0B8ZPM1ZFB",
          "mode": "list",
          "cachedResultName": "isael-grandeairsolutions"
        },
        "text": "=Hi, New Job Completed via HouseCallPro. \nCustomer Details \nName: {{ $('GHL Core Data').first().json.first_name }} {{ $('GHL Core Data').first().json.last_name }} \nPhone: {{ $('GHL Core Data').first().json.phone }} \nEmail: {{ $('GHL Core Data').first().json.email }}\nEstimate Number: {{ $('GHL Core Data').first().json.estimate_number }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [592, -16],
      "id": "08476144-20fc-46db-aea9-c3315b964ef5",
      "name": "Send a message",
      "webhookId": "0123405a-a49c-422d-a96a-fd609e714e9a",
      "credentials": {
        "slackOAuth2Api": {
          "id": "xq6mOzhcH7qrVz4Y",
          "name": "Slack- Manam"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BCJM86GAZ",
          "mode": "list",
          "cachedResultName": "manam-test"
        },
        "text": "=Hi, New Job Completed via HouseCallPro. \nCustomer Details \nName: {{ $('GHL Core Data').first().json.first_name }} {{ $('GHL Core Data').first().json.last_name }} \nPhone: {{ $('GHL Core Data').first().json.phone }} \nEmail: {{ $('GHL Core Data').first().json.email }} \nEstimate Number: {{ $('GHL Core Data').first().json.estimate_number }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [816, -16],
      "id": "ef9a2835-1e5a-4a7e-a4e1-445043821511",
      "name": "Send a message1",
      "webhookId": "0123405a-a49c-422d-a96a-fd609e714e9a",
      "credentials": {
        "slackOAuth2Api": {
          "id": "owh5W54aZzSa53x2",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "appointments",
        "filters": {
          "conditions": [
            {
              "keyName": "hcp_job_id",
              "keyValue": "={{ $('Webhook').item.json.body.job.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "appointment_status",
              "fieldValue": "={{ $('GHL Core Data').first().json.work_status }}"
            },
            {
              "fieldId": "subtotal",
              "fieldValue": "={{ $('GHL Core Data').first().json.subtotal }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-1168, 32],
      "id": "aa000001-0000-0000-0000-000000000001",
      "name": "Supabase - Update Appointment",
      "credentials": {
        "supabaseApi": {
          "id": "Vdwc2a9G9smOaulO",
          "name": "Supabase account"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "GHL Core Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL Core Data": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Supabase - Update Appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL - Search Contact": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "GHL - Search Opportunity1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GHL - Create Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL - Create Contact": {
      "main": [
        [
          {
            "node": "GHL - Create Opportunity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL - Search Opportunity1": {
      "main": [
        [
          {
            "node": "Opportunity Exists?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opportunity Exists?1": {
      "main": [
        [
          {
            "node": "Code in JavaScript8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GHL - Create Opportunity2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL - Create Opportunity2": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL - Create Opportunity": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tag to GHL \"2nd day call\"": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript8": {
      "main": [
        [
          {
            "node": "Add Tag to GHL \"2nd day call\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "GHL - Search Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook": [
      {
        "headers": {
          "host": "n8n.srv1759569.hstgr.cloud",
          "user-agent": "n8n",
          "content-length": "16480",
          "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
          "accept-encoding": "gzip, compress, deflate, br",
          "content-type": "application/json",
          "x-forwarded-for": "172.16.1.1",
          "x-forwarded-host": "n8n.srv1759569.hstgr.cloud",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "ddd8068e0d83",
          "x-real-ip": "172.16.1.1"
        },
        "params": {},
        "query": {},
        "body": {
          "event": "job.completed",
          "event_occurred_at": "2026-07-15T01:32:13Z",
          "company_id": "e594988c-2c9b-46af-a087-8faecf064dbc",
          "job": {
            "id": "job_7fb1d7222b5f484489468d72bd852077",
            "description": "Service Call Residential Repair - Reparaciones de A/C Llamada de Servicio",
            "notes": [
              {
                "id": "nte_2d8ffd3b5f8547f391ed18e9b01bb00d",
                "content": "🔴✔️ SERVICE CALL CONFIRMED\n\n🏘️ Rental Property when you arrive its on the right side\n\n• New Customer \n• Age/Brand: 5 yrs \n • Indoor located in attic \n• Concern: Homeowner chris said the pipe is frozen & not cooling for tenants, I advised him to please let tenants know to turn system completely off until we get there so we are able to touch the system. "
              },
              {
                "id": "nte_ca3b1747da5c42378765678ef9744127",
                "content": "2020 Lennox has system\nOn arrival system wasn’t frozen, tested cool and blower motor didn’t come on\nReplaced blower motor and checked everything after\n\nHouse was 80 degrees\nPressures and amps in range\nTd at 15\nSystem didn’t have filter, told tenant he needs to get a filter and he said he’ll have one tmr\n\nEstimate was approved over the phone for blower motor replacement and clearing drains\n\n"
              }
            ],
            "work_status": "complete unrated",
            "work_timestamps": {
              "on_my_way_at": "2026-07-14T22:30:22Z",
              "started_at": "2026-07-14T23:39:31Z",
              "completed_at": "2026-07-15T01:32:13Z"
            },
            "schedule": {
              "scheduled_start": "2026-07-14T22:00:00Z",
              "scheduled_end": "2026-07-15T00:00:00Z",
              "arrival_window": 0,
              "appointments": []
            },
            "total_amount": 186000,
            "outstanding_balance": 0,
            "assigned_employees": [
              {
                "id": "pro_9fdef10aa8bb4da1b7167e84974f31f2",
                "first_name": "Julian",
                "last_name": "Charles",
                "email": "3grandetech@gmail.com",
                "mobile_number": "5128186989",
                "color_hex": "83d8f2",
                "avatar_url": "https://housecall-attachments-production.s3.us-west-1.amazonaws.com/service_pros/avatars/001/739/100/thumb_web_round/avatar_1781269888.png",
                "role": "field tech",
                "tags": [],
                "permissions": {
                  "can_add_and_edit_job": true,
                  "can_call_and_text_with_customers": true,
                  "can_chat_with_customers": true,
                  "can_delete_and_cancel_job": true,
                  "can_edit_message_on_invoice": true,
                  "can_see_street_view_data": true,
                  "can_take_payment_see_prices": true,
                  "can_see_customers": true,
                  "can_see_marketing_campaigns": false,
                  "can_see_reporting": false,
                  "can_edit_settings": false,
                  "can_be_booked_online": false,
                  "can_share_job": false,
                  "can_see_full_schedule": false,
                  "can_see_future_jobs": true,
                  "is_point_of_contact": false,
                  "is_admin": false
                },
                "created_at": "2026-06-01T15:35:17Z",
                "company_name": "Grande Air Solutions",
                "company_id": "e594988c-2c9b-46af-a087-8faecf064dbc"
              }
            ],
            "tags": ["GCM Opportunity"],
            "original_estimate_id": null,
            "original_estimate_uuids": [],
            "subtotal": 194900,
            "lead_source": null,
            "job_fields": {
              "job_type": {
                "id": "jbt_06a157c40b6c4c24bfdfe44efab6d1e4",
                "name": "Service Call"
              },
              "business_unit": {
                "id": "buu_e5f9543b1d4944c881d00ef72fced285",
                "name": "Repair / Service"
              }
            },
            "locked_at": null,
            "created_at": "2026-07-14T21:36:06Z",
            "updated_at": "2026-07-15T01:32:13Z",
            "canceled_at": null,
            "deleted_at": null,
            "assigned_route_template_id": null,
            "company_name": "Grande Air Solutions",
            "company_id": "e594988c-2c9b-46af-a087-8faecf064dbc",
            "invoice_number": "19114597",
            "customer": {
              "id": "cus_7d5774c5705c4d40ba74c83181a4b14f",
              "first_name": "Chris",
              "last_name": "Chang",
              "email": "chriszp@gmail.com",
              "mobile_number": "5125865550",
              "home_number": null,
              "work_number": null,
              "company": null,
              "notifications_enabled": true,
              "lead_source": null,
              "notes": null,
              "kind": "homeowner",
              "created_at": "2026-07-14T18:57:32Z",
              "updated_at": "2026-07-14T18:57:32Z",
              "company_name": "Grande Air Solutions",
              "company_id": "e594988c-2c9b-46af-a087-8faecf064dbc",
              "tags": []
            },
            "address": {
              "id": "adr_39a673d0db0c49eb9370570ad8d1008c",
              "type": "billing",
              "street": "7317 Spotted Leaf Wy",
              "street_line_2": null,
              "city": "Austin",
              "state": "TX",
              "zip": "78617",
              "country": "US"
            },
            "recurrence_number": null,
            "recurrence_rule": null,
            "recurrence_status": null,
            "recurrence_id": null,
            "attachments": [
              {
                "id": "atc_c25d28cc0da84d5db47f79209b664854",
                "file_name": "IMG_0507.jpeg",
                "url": "https://housecall-web-request-attachments-production-us-west-2.s3-accelerate.amazonaws.com/attachments/files/575/217/705/original/IMG_0507.jpeg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA6A3PQNPHNPN2ZRXG%2F20260715%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20260715T013218Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=6f0b1a41ffc025e1c0a94399f27af373c7c60a7f2b0361b8043eca779faf60f5",
                "file_type": "image/jpeg"
              },
              {
                "id": "atc_111df78b14c240ab81e3353604594d6f",
                "file_name": "IMG_0508.jpeg",
                "url": "https://housecall-web-request-attachments-production-us-west-2.s3-accelerate.amazonaws.com/attachments/files/575/217/714/original/IMG_0508.jpeg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA6A3PQNPHNPN2ZRXG%2F20260715%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20260715T013218Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=d4f307a7aa858ebe721d92bdaa408e132d9f3365e761bb8a191aba83463bf42f",
                "file_type": "image/jpeg"
              },
              {
                "id": "atc_f1d12792bd614919b522031e9b6f54e3",
                "file_name": "IMG_0509.jpeg",
                "url": "https://housecall-web-request-attachments-production-us-west-2.s3-accelerate.amazonaws.com/attachments/files/575/217/775/original/IMG_0509.jpeg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA6A3PQNPHNPN2ZRXG%2F20260715%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20260715T013218Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=473ab70be1e91e162128b04dc7d325d91f445e448569e9787b710088c943c233",
                "file_type": "image/jpeg"
              },
              {
                "id": "atc_93b68f0794ff4c7282de0455000b9491",
                "file_name": "527091A8-79B0-404A-8842-04ABF36B1732.jpeg",
                "url": "https://housecall-web-request-attachments-production-us-west-2.s3-accelerate.amazonaws.com/attachments/files/575/217/976/original/527091A8-79B0-404A-8842-04ABF36B1732.jpeg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA6A3PQNPHNPN2ZRXG%2F20260715%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20260715T013218Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=76b05f07a2451d49b02755db46b0fd8184a150703146d1a33a7974d48430e05e",
                "file_type": "image/jpeg"
              },
              {
                "id": "atc_7547d0a34d354880abbd908a4e80a9b5",
                "file_name": "C7267134-A711-4159-96D0-53B7A68BC148.jpeg",
                "url": "https://housecall-web-request-attachments-production-us-west-2.s3-accelerate.amazonaws.com/attachments/files/575/217/996/original/C7267134-A711-4159-96D0-53B7A68BC148.jpeg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA6A3PQNPHNPN2ZRXG%2F20260715%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20260715T013218Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=9fb3ca7b4303f6c0edaa2fdd9746bc40d1065cbb87df2c7e3410a973c7d9e213",
                "file_type": "image/jpeg"
              },
              {
                "id": "atc_c318a31f5a604325ab3e840a43324369",
                "file_name": "7FCE1CD5-211B-47D7-95C7-9396B4D36CC6.jpeg",
                "url": "https://housecall-web-request-attachments-production-us-west-2.s3-accelerate.amazonaws.com/attachments/files/575/218/103/original/7FCE1CD5-211B-47D7-95C7-9396B4D36CC6.jpeg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA6A3PQNPHNPN2ZRXG%2F20260715%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20260715T013218Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=6b4543e71b10124073125a99b688b90c393f7fc2fff56de4176addb2ee3cfbf8",
                "file_type": "image/jpeg"
              },
              {
                "id": "atc_3021239dd5444c6585ca9913bd87d129",
                "file_name": "IMG_0543.jpeg",
                "url": "https://housecall-web-request-attachments-production-us-west-2.s3-accelerate.amazonaws.com/attachments/files/575/218/369/original/IMG_0543.jpeg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA6A3PQNPHNPN2ZRXG%2F20260715%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20260715T013218Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=43739cd44d1c77ddf490d2f7c89aba060a54bc623b1d27bf5a542dc2c9cfe486",
                "file_type": "image/jpeg"
              },
              {
                "id": "atc_e96d2908854a485d8ac9db1a570f1fa1",
                "file_name": "IMG_0526.jpeg",
                "url": "https://housecall-web-request-attachments-production-us-west-2.s3-accelerate.amazonaws.com/attachments/files/575/218/488/original/IMG_0526.jpeg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA6A3PQNPHNPN2ZRXG%2F20260715%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20260715T013218Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=07246b320c3885eb6972bf415ad69fcd54887ee33af0e43d97531b3678a43fce",
                "file_type": "image/jpeg"
              },
              {
                "id": "atc_0e1ef9a028194609a9d440975aaf3bd7",
                "file_name": "IMG_0525.jpeg",
                "url": "https://housecall-web-request-attachments-production-us-west-2.s3-accelerate.amazonaws.com/attachments/files/575/218/500/original/IMG_0525.jpeg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA6A3PQNPHNPN2ZRXG%2F20260715%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20260715T013218Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=b72ea02313e9460bba74fff1190d5eafc9904a0756e55d66769cf35adee73139",
                "file_type": "image/jpeg"
              },
              {
                "id": "atc_8ae4c5c7baf944e18c7dba50b3a9b204",
                "file_name": "IMG_0511.jpeg",
                "url": "https://housecall-web-request-attachments-production-us-west-2.s3-accelerate.amazonaws.com/attachments/files/575/218/517/original/IMG_0511.jpeg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA6A3PQNPHNPN2ZRXG%2F20260715%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20260715T013218Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=3e62aa2117443304526c667c281c2d30504cb07ced96e2516b40a57d10d47606",
                "file_type": "image/jpeg"
              },
              {
                "id": "atc_5bbc063c19714d55b4f90d05cbecc887",
                "file_name": "IMG_0547.jpeg",
                "url": "https://housecall-web-request-attachments-production-us-west-2.s3-accelerate.amazonaws.com/attachments/files/575/220/681/original/IMG_0547.jpeg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA6A3PQNPHNPN2ZRXG%2F20260715%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20260715T013218Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=4e0d71a0fc4148f8faa0380873ddf9d9a62e9d07c9f0f26461e2f8c20530e084",
                "file_type": "image/jpeg"
              },
              {
                "id": "atc_0f128fbacd074c3090ab57379c909ea6",
                "file_name": "IMG_0545.jpeg",
                "url": "https://housecall-web-request-attachments-production-us-west-2.s3-accelerate.amazonaws.com/attachments/files/575/220/685/original/IMG_0545.jpeg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA6A3PQNPHNPN2ZRXG%2F20260715%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20260715T013218Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=c82e444b9f83ca90c72b5cd621014d8565e5fddcaa65a73f08e02e5728c99c2c",
                "file_type": "image/jpeg"
              },
              {
                "id": "atc_35c65f07e84f4a5aa974edab39b2feb7",
                "file_name": "IMG_0548.jpeg",
                "url": "https://housecall-web-request-attachments-production-us-west-2.s3-accelerate.amazonaws.com/attachments/files/575/220/696/original/IMG_0548.jpeg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA6A3PQNPHNPN2ZRXG%2F20260715%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20260715T013218Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=ab4cd732324a47179b51bd0d0de9be92b5b629584a4c24f87f44c21b7a76f563",
                "file_type": "image/jpeg"
              },
              {
                "id": "atc_7b40a455f10c4dc6a889ae8ccba502e6",
                "file_name": "IMG_0546.jpeg",
                "url": "https://housecall-web-request-attachments-production-us-west-2.s3-accelerate.amazonaws.com/attachments/files/575/220/713/original/IMG_0546.jpeg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA6A3PQNPHNPN2ZRXG%2F20260715%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20260715T013218Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=3e509d70c5aca9947b2cf93dcf89a94a89e8f0401988cbbc6187f98d61ac8388",
                "file_type": "image/jpeg"
              },
              {
                "id": "atc_93e347614c044137b482ff6cbe8195b4",
                "file_name": "IMG_0538.jpeg",
                "url": "https://housecall-web-request-attachments-production-us-west-2.s3-accelerate.amazonaws.com/attachments/files/575/220/722/original/IMG_0538.jpeg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA6A3PQNPHNPN2ZRXG%2F20260715%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20260715T013218Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=3b36066e73c7c9d4fcfeecda240d553f4b0108fc5ed2286018151bb51b90d829",
                "file_type": "image/jpeg"
              },
              {
                "id": "atc_71e016e0e0304cfcb879bcee313dabb8",
                "file_name": "IMG_0520.jpeg",
                "url": "https://housecall-web-request-attachments-production-us-west-2.s3-accelerate.amazonaws.com/attachments/files/575/220/741/original/IMG_0520.jpeg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA6A3PQNPHNPN2ZRXG%2F20260715%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20260715T013218Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=2d30739df538877c1f81f8cf081c5579f929e55293bbdec402092f4a59980ba1",
                "file_type": "image/jpeg"
              },
              {
                "id": "atc_c4e6b16fdebe49b6af3653843d44efaf",
                "file_name": "IMG_0519.jpeg",
                "url": "https://housecall-web-request-attachments-production-us-west-2.s3-accelerate.amazonaws.com/attachments/files/575/220/763/original/IMG_0519.jpeg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA6A3PQNPHNPN2ZRXG%2F20260715%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20260715T013218Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=b3d900786376a81cbc32f3fbe691986125e35e21eb240f3ae6d0a91780a93c72",
                "file_type": "image/jpeg"
              },
              {
                "id": "atc_3a41e3bd7eb54a1f9f1987984dfa50b2",
                "file_name": "IMG_0518.jpeg",
                "url": "https://housecall-web-request-attachments-production-us-west-2.s3-accelerate.amazonaws.com/attachments/files/575/220/776/original/IMG_0518.jpeg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA6A3PQNPHNPN2ZRXG%2F20260715%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20260715T013218Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=25972bdf660cf31a41580f1e7b9f4edfe81dd790ffba2416083ba860d9208537",
                "file_type": "image/jpeg"
              },
              {
                "id": "atc_ec9482ac0c704daa80e3b5458e8cc2ff",
                "file_name": "IMG_0517.jpeg",
                "url": "https://housecall-web-request-attachments-production-us-west-2.s3-accelerate.amazonaws.com/attachments/files/575/220/794/original/IMG_0517.jpeg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA6A3PQNPHNPN2ZRXG%2F20260715%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20260715T013218Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=c44a713dbff28951ac9bd1f8ff16b0a1c5cd1321e5e688d6313c4a800eecf049",
                "file_type": "image/jpeg"
              },
              {
                "id": "atc_180c37ee514842db8bcf3ea24add4c0a",
                "file_name": "IMG_0516.jpeg",
                "url": "https://housecall-web-request-attachments-production-us-west-2.s3-accelerate.amazonaws.com/attachments/files/575/220/806/original/IMG_0516.jpeg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA6A3PQNPHNPN2ZRXG%2F20260715%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20260715T013218Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=b731e2f1ce1fd6385c8157796b85e4d52e29b7e750203352a59300352dfcefb0",
                "file_type": "image/jpeg"
              },
              {
                "id": "atc_1c22b190bcbc4b84b1e61c9c7cbf92a3",
                "file_name": "IMG_0515.jpeg",
                "url": "https://housecall-web-request-attachments-production-us-west-2.s3-accelerate.amazonaws.com/attachments/files/575/220/814/original/IMG_0515.jpeg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA6A3PQNPHNPN2ZRXG%2F20260715%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20260715T013218Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=752ebee22e21d976cfa5d1ac48065d651a426659a4d35936b41a3aa3832f5eb9",
                "file_type": "image/jpeg"
              },
              {
                "id": "atc_51ddf918df7e4d26994887742697c601",
                "file_name": "IMG_0514.jpeg",
                "url": "https://housecall-web-request-attachments-production-us-west-2.s3-accelerate.amazonaws.com/attachments/files/575/220/825/original/IMG_0514.jpeg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA6A3PQNPHNPN2ZRXG%2F20260715%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20260715T013218Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=e3ecb3c9bed6280b1e29f9c2e21df265d06aefbaf72ce2ed70f3fa9ee5082ce5",
                "file_type": "image/jpeg"
              },
              {
                "id": "atc_332cfbeca2dc4ca9a9c56b3c24578224",
                "file_name": "IMG_0513.jpeg",
                "url": "https://housecall-web-request-attachments-production-us-west-2.s3-accelerate.amazonaws.com/attachments/files/575/220/844/original/IMG_0513.jpeg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA6A3PQNPHNPN2ZRXG%2F20260715%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20260715T013218Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=46e229fbaac552a80aaf3ad378164a95d3937d1c4059f04f9036e4abcfc77ced",
                "file_type": "image/jpeg"
              },
              {
                "id": "atc_10f23a28ce18405d88cd3927cc859050",
                "file_name": "IMG_0512.jpeg",
                "url": "https://housecall-web-request-attachments-production-us-west-2.s3-accelerate.amazonaws.com/attachments/files/575/220/860/original/IMG_0512.jpeg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA6A3PQNPHNPN2ZRXG%2F20260715%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20260715T013218Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=5cfec44bad52602db1a07f61051c20b214a81f3c993c309163d3aa3c80a7e2be",
                "file_type": "image/jpeg"
              }
            ]
          }
        },
        "webhookUrl": "https://n8n.srv1759569.hstgr.cloud/webhook/job-completed",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "instanceId": "e980cea3bd34ebd8560767f4ac9f2241ef5b52e2c8125a8a2615b0944d1865f9"
  }
}
