n8n/job_created.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "job-created",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-192, 240],
      "id": "0b38912c-db69-4523-9333-4d2b970c575d",
      "name": "Webhook",
      "webhookId": "f605dd64-484e-4d7a-82a1-ff888bc61bd8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "127f1429-c251-4c01-810f-719f0c945d18",
              "name": "location id",
              "value": "6J2kq6uNCdVI2V1028Gn",
              "type": "string"
            },
            {
              "id": "1b021143-0fc5-4a4d-ba34-bb1d6ed0a981",
              "name": "calender id",
              "value": "FSvK9D0kcaZr8TIRXTkv",
              "type": "string"
            },
            {
              "id": "597f9058-fea7-45d5-82c7-91840001180f",
              "name": "phone",
              "value": "=+1{{ $json.body.job.customer.mobile_number }}",
              "type": "string"
            },
            {
              "id": "fe78f463-7b0e-4926-b5aa-34df8f33c7e4",
              "name": "TimeZone",
              "value": "America/New_York",
              "type": "string"
            },
            {
              "id": "c74146a9-10dd-402d-9629-6a5d446b33f1",
              "name": "Version",
              "value": "2021-07-28",
              "type": "string"
            },
            {
              "id": "9b98d6d2-592f-4734-b6c9-a580c8c4fbab",
              "name": "CleanPhone",
              "value": "=",
              "type": "string"
            },
            {
              "id": "4000c8c5-6e02-4151-8647-062c8d37ac0c",
              "name": "Start time",
              "value": "={{ $json.body.job.schedule.scheduled_start }}",
              "type": "string"
            },
            {
              "id": "a50f0b4b-b5dd-4bd8-862c-944ebcd1d7b9",
              "name": "first_name",
              "value": "={{ $json.body.job.customer.first_name }}",
              "type": "string"
            },
            {
              "id": "7ae596cb-68f6-4926-a549-ea530ed27d1b",
              "name": "last_name",
              "value": "={{ $json.body.job.customer.last_name }}",
              "type": "string"
            },
            {
              "id": "35d9ec14-f34f-4bbd-8839-7ea66153e379",
              "name": "company_name",
              "value": "={{ $json.body.job.customer.company_name }}",
              "type": "string"
            },
            {
              "id": "4f480fc3-f587-48d0-a5cc-3b729294fd9b",
              "name": "email",
              "value": "={{ $json.body.job.customer.email }}",
              "type": "string"
            },
            {
              "id": "ba2210d5-3d15-43b7-bbcd-6925990de499",
              "name": "kind",
              "value": "={{ $json.body.job.customer.kind }}",
              "type": "string"
            },
            {
              "id": "0a1294a6-6990-403a-bf44-c73693c508ed",
              "name": "startTime",
              "value": "={{ \n  (() => {   \n    const input = $json.body.job.schedule.scheduled_start;   \n    if (!input) return null;    \n    const date = new Date(input);    \n    const pad = (n) => String(n).padStart(2, \"0\");    \n    const yyyy = date.getUTCFullYear();   \n    const mm = pad(date.getUTCMonth() + 1);   \n    const dd = pad(date.getUTCDate());   \n    const hh = pad(date.getUTCHours());   \n    const min = pad(date.getUTCMinutes());   \n    const ss = pad(date.getUTCSeconds());    \n    return `${yyyy}-${mm}-${dd}T${hh}:${min}:${ss}-04:00`; \n  })() \n}}",
              "type": "string"
            },
            {
              "id": "ee5d8c2c-7a4c-4d6f-8205-4cd09226bdb1",
              "name": "work_status",
              "value": "={{ $json.body.job.work_status }}",
              "type": "string"
            },
            {
              "id": "af86e3b7-f1a2-432d-93b1-b5b41f8bc006",
              "name": "tags",
              "value": "={{ $json.body.job.customer.tags }}",
              "type": "array"
            },
            {
              "id": "0e678353-8619-47d5-9b5c-44eca6486dee",
              "name": "estimate_number",
              "value": "={{ $json.body.job.invoice_number }}",
              "type": "string"
            },
            {
              "id": "09844fbe-4153-43d7-bee8-afad9be4b31d",
              "name": "total_amount",
              "value": "={{ $json.body.job.total_amount }}",
              "type": "string"
            },
            {
              "id": "fff4125b-4e22-4680-a1ca-0d54a50a6e87",
              "name": "Pipeline_id",
              "value": "4QkPnglhkYSm893QnOJe",
              "type": "string"
            },
            {
              "id": "6e428925-430a-4b31-a7db-94cef5c2a5a4",
              "name": "stages_id",
              "value": "65334dfb-60ee-4519-b1d1-0daa4b6c59db",
              "type": "string"
            },
            {
              "id": "5f6f28ca-6293-4fde-b221-06d2f3720edf",
              "name": "job_type",
              "value": "={{ $json.body.job.job_fields.job_type.name || '' }}",
              "type": "string"
            },
            {
              "id": "60147502-f2f2-469a-90a7-39c9ee26977b",
              "name": "business_unit",
              "value": "={{ $json.body.job.job_fields.business_unit.name || '' }}",
              "type": "string"
            },
            {
              "id": "bf2b7335-0676-477c-9114-be0b9f32523a",
              "name": "subtotal",
              "value": "={{ $json.body.job.subtotal }}",
              "type": "number"
            },
            {
              "id": "hcp-job-id-001",
              "name": "hcp_job_id",
              "value": "={{ $json.body.job.id }}",
              "type": "string"
            },
            {
              "id": "appt-status-001",
              "name": "appointment_status",
              "value": "={{ $json.body.job.work_status }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [32, 240],
      "id": "f3cf94cd-c282-4574-901d-5175acd7aa65",
      "name": "GHL Core Data",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "={{ $('GHL Core Data').first().json.Version }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"locationId\": \"{{ $('GHL Core Data').first().json['location id'] }}\",\n  \"page\": 1,\n  \"pageLimit\": 20,\n  \"filters\": [\n    {\n      \"field\": \"phone\",\n      \"operator\": \"eq\",\n      \"value\": \"{{ $('GHL Core Data').first().json.phone }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "name": "GHL - Search Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [480, 240],
      "id": "b7a2c6e3-e792-4f36-85e9-3ee3076de8e2",
      "retryOnFail": false,
      "maxTries": 2,
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "NbML98NVW1CNtcZQ",
          "name": "Multiple Headers Auth account GHL"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "435ba85f-edf2-42ed-a32d-147272da7232",
              "leftValue": "={{ $json.total }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [704, 240],
      "id": "24a19391-ceb6-4318-93e6-c688f095b1b5",
      "name": "If2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "={{ $('GHL Core Data').first().json.Version }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"name\": \"{{ $('GHL Core Data').first().json.first_name }} {{ $('GHL Core Data').first().json.last_name }}\",\n\"locationId\": \"{{ $('GHL Core Data').first().json['location id'] }}\",\n\"phone\": \"{{ $('GHL Core Data').first().json.phone }}\",\n\"email\": \"{{ $('GHL Core Data').first().json.email }}\",\n\"source\": \"housecallpro\",\n\"tags\":[\"hcp appointment\"]\n}",
        "options": {}
      },
      "name": "GHL - Create Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1152, 336],
      "id": "0b47d1b8-5850-40af-a51a-20469c32f782",
      "alwaysOutputData": false,
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "NbML98NVW1CNtcZQ",
          "name": "Multiple Headers Auth account GHL"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=https://services.leadconnectorhq.com/opportunities/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "location_id",
              "value": "={{ $('GHL Core Data').first().json['location id'] }}"
            },
            {
              "name": "contact_id",
              "value": "={{ $('If2').first().json.contacts[0].id ?? $('GHL - Create Contact').first().json.contact.id }}"
            },
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "limit",
              "value": "20"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "={{ $('GHL Core Data').first().json.Version }}"
            }
          ]
        },
        "options": {}
      },
      "name": "GHL - Search Opportunity1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [928, 48],
      "id": "5e35d1e6-33b9-4ebb-9c43-19a9023f122d",
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "NbML98NVW1CNtcZQ",
          "name": "Multiple Headers Auth account GHL"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
              "leftValue": "={{ $json.meta.total }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1152, 48],
      "id": "c094d2ac-86a0-4c94-8436-401b5dedb82c",
      "name": "Opportunity Exists?1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/opportunities/",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "={{ $('GHL Core Data').first().json.Version }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"pipelineId\": \"{{ $('GHL Core Data').first().json.Pipeline_id }}\",\n  \"locationId\": \"{{ $('GHL Core Data').first().json['location id'] }}\",\n  \"name\": \"Estimate #{{ $('GHL Core Data').first().json.estimate_number }} - {{ $('GHL Core Data').first().json.first_name }} {{ $('GHL Core Data').first().json.last_name }}\",\n  \"pipelineStageId\": \"{{ $('GHL Core Data').first().json.stages_id }}\",\n  \"status\": \"open\",\n  \"contactId\": \"{{ $('GHL - Search Contact').first().json.contacts[0].id ?? $('GHL - Create Contact').first().json.contact.id }}\",\n  \"monetaryValue\": {{ $('GHL Core Data').item.json.total_amount }},\n  \"source\": \"housecallpro\",\n  \"customFields\": [\n    {\n      \"key\": \"work_status\",\n      \"field_value\": \"{{ $('GHL Core Data').first().json.work_status }}\"\n    },\n    {\n      \"key\": \"estimate_number\",\n      \"field_value\": \"{{ $('GHL Core Data').item.json.estimate_number }}\"\n    },\n    {\n      \"key\": \"scheduled_start\",\n      \"field_value\": \"{{ $('GHL Core Data').first().json.startTime }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "name": "GHL - Create Opportunity2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1376, 144],
      "id": "f906852d-5d81-4584-ae74-9bcf2b3438af",
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "NbML98NVW1CNtcZQ",
          "name": "Multiple Headers Auth account GHL"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/opportunities/",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "={{ $('GHL Core Data').first().json.Version }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"pipelineId\": \"{{ $('GHL Core Data').first().json.Pipeline_id }}\",\n  \"locationId\": \"{{ $('GHL Core Data').first().json['location id'] }}\",\n  \"name\": \"Estimate #{{ $('GHL Core Data').item.json.estimate_number }} - {{ $('GHL Core Data').first().json.first_name }} {{ $('GHL Core Data').first().json.last_name }}\",\n  \"pipelineStageId\": \"{{ $('GHL Core Data').first().json.stages_id }}\",\n  \"status\": \"open\",\n  \"contactId\": \"{{ $('GHL - Create Contact').first().json.contacts[0].id ?? $('GHL - Create Contact').first().json.contact.id }}\",\n  \"monetaryValue\": {{ $('GHL Core Data').item.json.total_amount }},\n  \"source\": \"housecallpro\",\n  \"customFields\": [\n    {\n      \"key\": \"work_status\",\n      \"field_value\": \"{{ $('GHL Core Data').first().json.work_status }}\"\n    },\n    {\n      \"key\": \"estimate_number\",\n      \"field_value\": \"{{ $('GHL Core Data').item.json.estimate_number }}\"\n    },\n    {\n      \"key\": \"scheduled_start\",\n      \"field_value\": \"{{ $('GHL Core Data').first().json.startTime }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "name": "GHL - Create Opportunity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1376, 336],
      "id": "dd988d42-dc55-47a8-8420-0e74bb426e63",
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "NbML98NVW1CNtcZQ",
          "name": "Multiple Headers Auth account GHL"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('GHL - Search Contact').first().json.contacts[0].id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "={{ $('GHL Core Data').first().json.Version }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tags\": [{{ $json.data }}]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1600, -48],
      "id": "b21edc9b-52c1-4451-97c6-ce642d6c3caa",
      "name": "Add Tag to GHL \"2nd day call\"",
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "NbML98NVW1CNtcZQ",
          "name": "Multiple Headers Auth account GHL"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet data=[];\nfor (const item of  $('GHL - Search Contact').first().json.contacts[0].tags) {\n  data.push(`\"${item}\"`)\n}\ndata.push(`\"job created\"`);\nif ($('GHL Core Data').first().json.job_type==\"Maintenance\" || $('GHL Core Data').first().json.business_unit == \"Maintenance\") {\n  data.push(`\"maintenance\"`);\n}\ndata = [...new Set(data)];\nreturn {data:data};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1376, -48],
      "id": "5487831c-dfbb-4845-946e-a7c7de0588a4",
      "name": "Code in JavaScript8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f33619b6-db0b-419b-8ce1-61c986f388c5",
              "leftValue": "={{ $json.tags }}",
              "rightValue": "test user",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [256, 240],
      "id": "2825ffea-1634-4d98-bd44-385854bc8d64",
      "name": "If",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ff92578c-dd60-425e-a01e-1780c5f2f2b9",
              "leftValue": "={{ $json.job_type }}",
              "rightValue": "Maintenance",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "2fc456f2-8a25-4f82-8ceb-e20cc1133089",
              "leftValue": "={{ $json.business_unit }}",
              "rightValue": "Maintenance",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [256, 48],
      "id": "e6a5568f-386c-4bf5-8901-3f5108a9ea7e",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "call_summary",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "keyValue": "={{ $json.phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [704, 816],
      "id": "6cc46a60-68f1-41ad-a139-286fe46e0b39",
      "name": "Get a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "Vdwc2a9G9smOaulO",
          "name": "Supabase account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cc04495d-598f-4923-b159-3f65ee1453bf",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [928, 816],
      "id": "814e5107-17db-47d6-a8e8-6eabd91b978b",
      "name": "If3"
    },
    {
      "parameters": {
        "tableId": "appointments",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "phone",
              "fieldValue": "={{ $('GHL Core Data').item.json.phone }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $('GHL Core Data').item.json.first_name }} {{ $('GHL Core Data').item.json.last_name }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $('GHL Core Data').item.json.email }}"
            },
            {
              "fieldId": "subtotal",
              "fieldValue": "={{ $('GHL Core Data').item.json.subtotal }}"
            },
            {
              "fieldId": "call_date",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "user_name",
              "fieldValue": "={{ $('Webhook').item.json.body.job.assigned_employees[0].first_name }} {{ $('Webhook').item.json.body.job.assigned_employees[0].last_name }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Webhook').item.json.body.job.assigned_employees[0].id }}"
            },
            {
              "fieldId": "hcp_job_id",
              "fieldValue": "={{ $('Webhook').item.json.body.job.id }}"
            },
            {
              "fieldId": "appointment_status",
              "fieldValue": "={{ $('GHL Core Data').item.json.appointment_status }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1152, 912],
      "id": "3eba20f8-10c2-4bc0-b0f7-cbee9e3cf809",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "Vdwc2a9G9smOaulO",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "appointments",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "phone",
              "fieldValue": "={{ $('GHL Core Data').first().json.phone }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $('GHL Core Data').first().json.first_name }} {{ $('GHL Core Data').first().json.last_name }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $('GHL Core Data').first().json.email }}"
            },
            {
              "fieldId": "from_number",
              "fieldValue": "={{ $json.from_number || '' }}"
            },
            {
              "fieldId": "to_number",
              "fieldValue": "={{ $json.to_number || '' }}"
            },
            {
              "fieldId": "call_summary_id",
              "fieldValue": "={{ $json.id || null }}"
            },
            {
              "fieldId": "appointment_requested",
              "fieldValue": "={{ $json?.wants_appointment || false }}"
            },
            {
              "fieldId": "subtotal",
              "fieldValue": "={{ $('GHL Core Data').first().json.subtotal }}"
            },
            {
              "fieldId": "audio_link",
              "fieldValue": "={{ $json.audio_link }}"
            },
            {
              "fieldId": "direction",
              "fieldValue": "={{ $json.direction }}"
            },
            {
              "fieldId": "ghl_contact_link",
              "fieldValue": "={{ $json.ghl_contact_link }}"
            },
            {
              "fieldId": "call_date",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "user_name",
              "fieldValue": "={{ $('Webhook').item.json.body.job.assigned_employees[0].first_name }} {{ $('Webhook').item.json.body.job.assigned_employees[0].last_name || '' }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Webhook').item.json.body.job.assigned_employees[0].id || '' }}"
            },
            {
              "fieldId": "hcp_job_id",
              "fieldValue": "={{ $('Webhook').item.json.body.job.id }}"
            },
            {
              "fieldId": "appointment_status",
              "fieldValue": "={{ $('GHL Core Data').first().json.appointment_status }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1376, 720],
      "id": "bda49ba0-5c1d-4675-994b-51a162f3f65b",
      "name": "Create a row1",
      "credentials": {
        "supabaseApi": {
          "id": "Vdwc2a9G9smOaulO",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// // Loop over input items and add a new field called 'myNewField' to the JSON of each one\n// let data={};\n// for (const item of $input.all()) {\n//   if(item?.json?.wants_appointment){\n//    data=item;\n//   }\n// }\n\n// return {data};\n\n\n\n\n// Get all input items\nconst items = $input.all();\n\n// Sort by date descending, so items[0] is the most recent call\nconst sorted = items\n  .map(item => item.json)\n  .sort((a, b) => new Date(b.date) - new Date(a.date));\n\n// Take the last (most recent) call\nconst lastCall = sorted[0];\n\n// Add your new field\n// lastCall.myNewField = \"your value here\";\n\nreturn [{ json: lastCall }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1152, 720],
      "id": "37347589-3d51-40b9-8857-57a150a1fc05",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "amount": 120
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [480, 816],
      "id": "2bf93be8-7c36-4b8a-ae44-1baa4f4fbdc0",
      "name": "Wait",
      "webhookId": "a3b0e0ce-e83b-4e06-aed0-28be40a9d483",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a0a9f5b1-cae7-4354-9f02-82294d26cb9f",
              "leftValue": "={{ $('Webhook').item.json.body.event }}",
              "rightValue": "job.created",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [256, 816],
      "id": "7bb8b241-72ce-4774-86cc-c5be0ca7f185",
      "name": "If4"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "call_summary",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "keyValue": "={{ $json.phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [704, 48],
      "id": "f75cbb6a-0b7f-4514-a027-c76100ecfa52",
      "name": "Get a row1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "Vdwc2a9G9smOaulO",
          "name": "Supabase account"
        }
      },
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [480, 48],
      "id": "6bb5f966-99c2-4cf7-a884-90537a59780d",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "szeYURoYVIRalo5N",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "af56197f-15d0-49c6-b5bb-0fdb9ea5579a",
              "leftValue": "={{ $('GHL Core Data').first().json.job_type }}",
              "rightValue": "Maintenance",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "ac754a80-cbea-4c82-bd23-29962f46cba0",
              "leftValue": "={{ $('GHL Core Data').first().json.business_unit }}",
              "rightValue": "Maintenance",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [928, 432],
      "id": "5387cd84-81ad-4c04-ae4c-f867709029ec",
      "name": "If5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "={{ $('GHL Core Data').first().json.Version }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"name\": \"{{ $('GHL Core Data').first().json.first_name }} {{ $('GHL Core Data').first().json.last_name }}\",\n\"locationId\": \"{{ $('GHL Core Data').first().json['location id'] }}\",\n\"phone\": \"{{ $('GHL Core Data').first().json.phone }}\",\n\"email\": \"{{ $('GHL Core Data').first().json.email }}\",\n\"source\": \"housecallpro\",\n\"tags\":[\"hcp appointment\",\"maintenance\"]\n}",
        "options": {}
      },
      "name": "GHL - Create Contact1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1152, 528],
      "id": "f6910ab3-6447-4caa-8c47-6449b2e93007",
      "alwaysOutputData": false,
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "NbML98NVW1CNtcZQ",
          "name": "Multiple Headers Auth account GHL"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/opportunities/",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "={{ $('GHL Core Data').first().json.Version }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"pipelineId\": \"{{ $('GHL Core Data').first().json.Pipeline_id }}\",\n  \"locationId\": \"{{ $('GHL Core Data').first().json['location id'] }}\",\n  \"name\": \"Estimate #{{ $('GHL Core Data').item.json.estimate_number }} - {{ $('GHL Core Data').first().json.first_name }} {{ $('GHL Core Data').first().json.last_name }}\",\n  \"pipelineStageId\": \"{{ $('GHL Core Data').first().json.stages_id }}\",\n  \"status\": \"open\",\n  \"contactId\": \"{{ $('GHL - Create Contact1').first().json.contacts[0].id ?? $('GHL - Create Contact1').first().json.contact.id }}\",\n  \"monetaryValue\": {{ $('GHL Core Data').item.json.total_amount }},\n  \"source\": \"housecallpro\",\n  \"customFields\": [\n    {\n      \"key\": \"work_status\",\n      \"field_value\": \"{{ $('GHL Core Data').first().json.work_status }}\"\n    },\n    {\n      \"key\": \"estimate_number\",\n      \"field_value\": \"{{ $('GHL Core Data').item.json.estimate_number }}\"\n    },\n    {\n      \"key\": \"scheduled_start\",\n      \"field_value\": \"{{ $('GHL Core Data').first().json.startTime }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "name": "GHL - Create Opportunity1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1376, 528],
      "id": "0b76672b-cc2c-4ef1-97a6-5fb597a77e09",
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "NbML98NVW1CNtcZQ",
          "name": "Multiple Headers Auth account GHL"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0B8ZPM1ZFB",
          "mode": "list",
          "cachedResultName": "isael-grandeairsolutions"
        },
        "text": "=Hi, New Job Created via HouseCallPro. \nCustomer Details \nName: {{ $('GHL Core Data').first().json.first_name }} {{ $('GHL Core Data').first().json.last_name }} \nPhone: {{ $('GHL Core Data').first().json.phone }} \nEmail: {{ $('GHL Core Data').first().json.email }}\nEstimate Number: {{ $('GHL Core Data').first().json.estimate_number }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [2304, 192],
      "id": "30528617-5e48-4aa3-b8ef-eac53bbc2ba8",
      "name": "Send a message",
      "webhookId": "0123405a-a49c-422d-a96a-fd609e714e9a",
      "credentials": {
        "slackOAuth2Api": {
          "id": "xq6mOzhcH7qrVz4Y",
          "name": "Slack- Manam"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BCJM86GAZ",
          "mode": "list",
          "cachedResultName": "manam-test"
        },
        "text": "=Hi, New Job Created via HouseCallPro. \nCustomer Details \nName: {{ $('GHL Core Data').first().json.first_name }} {{ $('GHL Core Data').first().json.last_name }} \nPhone: {{ $('GHL Core Data').first().json.phone }} \nEmail: {{ $('GHL Core Data').first().json.email }} \nEstimate Number: {{ $('GHL Core Data').first().json.estimate_number }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [2528, 192],
      "id": "f242ca12-6a7c-4e9b-a6c5-95e0008f0ec4",
      "name": "Send a message1",
      "webhookId": "0123405a-a49c-422d-a96a-fd609e714e9a",
      "credentials": {
        "slackOAuth2Api": {
          "id": "owh5W54aZzSa53x2",
          "name": "Slack account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "GHL Core Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL Core Data": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "If1",
            "type": "main",
            "index": 0
          },
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL - Search Contact": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "GHL - Search Opportunity1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL - Create Contact": {
      "main": [
        [
          {
            "node": "GHL - Create Opportunity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL - Search Opportunity1": {
      "main": [
        [
          {
            "node": "Opportunity Exists?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opportunity Exists?1": {
      "main": [
        [
          {
            "node": "Code in JavaScript8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GHL - Create Opportunity2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL - Create Opportunity2": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL - Create Opportunity": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tag to GHL \"2nd day call\"": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript8": {
      "main": [
        [
          {
            "node": "Add Tag to GHL \"2nd day call\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "GHL - Search Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Create a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Get a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "GHL - Create Contact1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GHL - Create Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL - Create Contact1": {
      "main": [
        [
          {
            "node": "GHL - Create Opportunity1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL - Create Opportunity1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook": [
      {
        "headers": {
          "host": "n8n.srv1759569.hstgr.cloud",
          "user-agent": "n8n",
          "content-length": "3340",
          "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
          "accept-encoding": "gzip, compress, deflate, br",
          "content-type": "application/json",
          "x-forwarded-for": "172.16.1.1",
          "x-forwarded-host": "n8n.srv1759569.hstgr.cloud",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "ddd8068e0d83",
          "x-real-ip": "172.16.1.1"
        },
        "params": {},
        "query": {},
        "body": {
          "event": "job.created",
          "event_occurred_at": "2026-07-14T21:36:07Z",
          "company_id": "e594988c-2c9b-46af-a087-8faecf064dbc",
          "job": {
            "id": "job_7fb1d7222b5f484489468d72bd852077",
            "description": "Service Call Residential Repair - Reparaciones de A/C Llamada de Servicio",
            "notes": [
              {
                "id": "nte_2d8ffd3b5f8547f391ed18e9b01bb00d",
                "content": "🔴✔️ SERVICE CALL CONFIRMED\n\n🏘️ Rental Property when you arrive its on the right side\n\n• New Customer \n• Age/Brand: 5 yrs \n • Indoor located in attic \n• Concern: Customer said the pipe is frozen & not cooling for tenants, I advised him to please let tenants know to turn system completely off until we get there so we are able to touch the system. i"
              }
            ],
            "work_status": "scheduled",
            "work_timestamps": {
              "on_my_way_at": null,
              "started_at": null,
              "completed_at": null
            },
            "schedule": {
              "scheduled_start": "2026-07-14T21:30:00Z",
              "scheduled_end": "2026-07-14T23:30:00Z",
              "arrival_window": 0,
              "appointments": []
            },
            "total_amount": 8900,
            "outstanding_balance": 8900,
            "assigned_employees": [
              {
                "id": "pro_9fdef10aa8bb4da1b7167e84974f31f2",
                "first_name": "Julian",
                "last_name": "Charles",
                "email": "3grandetech@gmail.com",
                "mobile_number": "5128186989",
                "color_hex": "83d8f2",
                "avatar_url": "https://housecall-attachments-production.s3.us-west-1.amazonaws.com/service_pros/avatars/001/739/100/thumb_web_round/avatar_1781269888.png",
                "role": "field tech",
                "tags": [],
                "permissions": {
                  "can_add_and_edit_job": true,
                  "can_call_and_text_with_customers": true,
                  "can_chat_with_customers": true,
                  "can_delete_and_cancel_job": true,
                  "can_edit_message_on_invoice": true,
                  "can_see_street_view_data": true,
                  "can_take_payment_see_prices": true,
                  "can_see_customers": true,
                  "can_see_marketing_campaigns": false,
                  "can_see_reporting": false,
                  "can_edit_settings": false,
                  "can_be_booked_online": false,
                  "can_share_job": false,
                  "can_see_full_schedule": false,
                  "can_see_future_jobs": true,
                  "is_point_of_contact": false,
                  "is_admin": false
                },
                "created_at": "2026-06-01T15:35:17Z",
                "company_name": "Grande Air Solutions",
                "company_id": "e594988c-2c9b-46af-a087-8faecf064dbc"
              }
            ],
            "tags": ["GCM Opportunity"],
            "original_estimate_id": null,
            "original_estimate_uuids": [],
            "subtotal": 8900,
            "lead_source": null,
            "job_fields": {
              "job_type": {
                "id": "jbt_06a157c40b6c4c24bfdfe44efab6d1e4",
                "name": "Service Call"
              },
              "business_unit": {
                "id": "buu_e5f9543b1d4944c881d00ef72fced285",
                "name": "Repair / Service"
              }
            },
            "locked_at": null,
            "created_at": "2026-07-14T21:36:06Z",
            "updated_at": "2026-07-14T21:36:09Z",
            "canceled_at": null,
            "deleted_at": null,
            "assigned_route_template_id": null,
            "company_name": "Grande Air Solutions",
            "company_id": "e594988c-2c9b-46af-a087-8faecf064dbc",
            "invoice_number": "19114597",
            "customer": {
              "id": "cus_7d5774c5705c4d40ba74c83181a4b14f",
              "first_name": "Chris",
              "last_name": "Chang",
              "email": "chriszp@gmail.com",
              "mobile_number": "5125865550",
              "home_number": null,
              "work_number": null,
              "company": null,
              "notifications_enabled": true,
              "lead_source": null,
              "notes": null,
              "kind": "homeowner",
              "created_at": "2026-07-14T18:57:32Z",
              "updated_at": "2026-07-14T18:57:32Z",
              "company_name": "Grande Air Solutions",
              "company_id": "e594988c-2c9b-46af-a087-8faecf064dbc",
              "tags": []
            },
            "address": {
              "id": "adr_39a673d0db0c49eb9370570ad8d1008c",
              "type": "billing",
              "street": "7317 Spotted Leaf Wy",
              "street_line_2": null,
              "city": "Austin",
              "state": "TX",
              "zip": "78617",
              "country": "US"
            },
            "recurrence_number": null,
            "recurrence_rule": null,
            "recurrence_status": null,
            "recurrence_id": null,
            "attachments": []
          }
        },
        "webhookUrl": "https://n8n.srv1759569.hstgr.cloud/webhook/job-created",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e980cea3bd34ebd8560767f4ac9f2241ef5b52e2c8125a8a2615b0944d1865f9"
  }
}
